body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    height: 100vh;
}

#floorTable {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #FFFFFF;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.45);
    position: relative;
    border: none;
}

h5 {
    margin: 1px 0;
}

td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-align: center;
    height: 30px;
}
form{
    margin-top: 30px;
    button {
        font-size: 20px;
        padding: 3px 20px;
    }
}

#canvas {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: block;
}
.room-cell {
    position: relative;
    z-index: 2;

}