/* Do it asap */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    height: 100vh;
}

#floorTable {
    border : 1px solid #000000;
    width: calc(100% - 100px); /* 画面の両端から50pxずつの余白を確保 */
    margin: 0 auto; /* テーブルを中央に配置 */
    border-collapse: collapse;
    background-color: #FFFFFF;
    margin-top: 20px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.45);
}

#floorTable th {
    border : 1px solid #000000;
    padding: 5px;
}

.light {
    background-color: #FFE4C4;
}

td {
    border : 1px solid #000000;
    padding: 5px;
    text-align: center;
}